.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #333;
  color: #fff;
}
.navbar a {
  padding: 0px 20px;
  color: #ffffff;
  text-decoration: none;
}
.navbar img {
  width: 100px;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #333;
  color: #fff;
}
.navbar-container li {
  padding: 0px 20px;
  list-style: none;
}
